# 서울시 구별 CCTV 현황 분석

In [1]:
import pandas as pd

### CCTV_in_Seoul 불러오기

In [10]:
CCTV_Seoul = pd.read_csv('서울시 구별 CCTV 현황 분석\CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [20]:
# dataframe index name
CCTV_Seoul.columns
CCTV_Seoul.columns[0] # indexing

'기관명'

In [23]:
# CCTV_Seoul의 index내용 변경 : '기관명' -> '구별'
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

### population_in_Seoul 불러오기

In [28]:
pop_Seoul = pd.read_excel('서울시 구별 CCTV 현황 분석\population_in_Seoul.xls', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.1/4,합계,4290922,10054979,4909387,5145592,9770216,4772134,4998082,284763,137253,147510,2.28,1436125
3,2019.1/4,종로구,73914,162913,78963,83950,152778,74536,78242,10135,4427,5708,2.07,26981
4,2019.1/4,중구,61800,135836,66720,69116,125942,61992,63950,9894,4728,5166,2.04,22421

### 인구데이터 편집

In [32]:
pop_Seoul = pd.read_excel('서울시 구별 CCTV 현황 분석\population_in_Seoul.xls', 
                          header=2, # 세번째 줄부터 읽기
                          parse_cols='B, D, G, J, N', # 출력할 columns 선택
                          encoding='utf-8')
pop_Seoul.head()

C:\Users\leebj\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  after removing the cwd from sys.path.

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10054979  9770216  284763   1436125
1  종로구    162913   152778   10135     26981
2   중구    135836   125942    9894     22421
3  용산구    245139   229168   15971     38049
4  성동구    314608   306404    8204     43076

In [33]:
# column 이름 변경
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                         pop_Seoul.columns[1] : '인구수',
                         pop_Seoul.columns[2] : '한국인',
                         pop_Seoul.columns[3] : '외국인',
                         pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10054979  9770216  284763  1436125
1  종로구    162913   152778   10135    26981
2   중구    135836   125942    9894    22421
3  용산구    245139   229168   15971    38049
4  성동구    314608   306404    8204    43076