# 서울시 구별 CCTV 현황 분석

In [2]:
import pandas as pd

### 1. CCTV_in_Seoul 불러오기

In [10]:
CCTV_Seoul = pd.read_csv('CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [11]:
# dataframe index name
CCTV_Seoul.columns
CCTV_Seoul.columns[0] # indexing

'기관명'

In [12]:
# CCTV_Seoul의 index내용 변경 : '기관명' -> '구별'
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

### 2. population_in_Seoul 불러오기

In [15]:
pop_Seoul = pd.read_excel('population_in_Seoul.xls', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.1/4,합계,4290922,10054979,4909387,5145592,9770216,4772134,4998082,284763,137253,147510,2.28,1436125
3,2019.1/4,종로구,73914,162913,78963,83950,152778,74536,78242,10135,4427,5708,2.07,26981
4,2019.1/4,중구,61800,135836,66720,69116,125942,61992,63950,9894,4728,5166,2.04,22421

### 3. 인구데이터 편집

In [18]:
pop_Seoul = pd.read_excel('population_in_Seoul.xls', 
                          header=2, # 세번째 줄부터 읽기
                          parse_cols='B, D, G, J, N', # 출력할 columns 선택
                          encoding='utf-8')
pop_Seoul.head()

C:\Users\leebj\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead
  after removing the cwd from sys.path.

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10054979  9770216  284763   1436125
1  종로구    162913   152778   10135     26981
2   중구    135836   125942    9894     22421
3  용산구    245139   229168   15971     38049
4  성동구    314608   306404    8204     43076

In [19]:
# column 이름 변경
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                         pop_Seoul.columns[1] : '인구수',
                         pop_Seoul.columns[2] : '한국인',
                         pop_Seoul.columns[3] : '외국인',
                         pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10054979  9770216  284763  1436125
1  종로구    162913   152778   10135    26981
2   중구    135836   125942    9894    22421
3  용산구    245139   229168   15971    38049
4  성동구    314608   306404    8204    43076

### 4. CCTV 데이터 파악

In [24]:
# '소계'를 기준으로 오름차순 정렬
CCTV_Seoul.sort_values(by='소계', ascending=True).head()
# '소계'를 기준으로 내림차순 정렬
CCTV_Seoul.sort_values(by='소계', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  3238       1292    430    584    932
18  양천구  2482       1843    142     30    467
14  서초구  2297       1406    157    336    398
4   관악구  2109        846    260    390    613
21  은평구  2108       1138    224    278    468

In [31]:
# CCTV 최근증가율 column 생성
CCTV_Seoul['최근증가율'] = (CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] + \
                      CCTV_Seoul['2014년']) / CCTV_Seoul['2013년도 이전'] * 100
CCTV_Seoul.sort_values(by='최근증가율', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1619        464    314    211    630  248.922414
9   도봉구   825        238    159     42    386  246.638655
12  마포구   980        314    118    169    379  212.101911
8   노원구  1566        542     57    451    516  188.929889
1   강동구  1010        379     99    155    377  166.490765

### 5. 인구 데이터 파악

In [42]:
# 1행 제거
# pop_Seoul.drop([0], inplace=True)
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  162913  152778  10135  26981
2   중구  135836  125942   9894  22421
3  용산구  245139  229168  15971  38049
4  성동구  314608  306404   8204  43076
5  광진구  370658  354873  15785  46288

In [44]:
# 한 번 이상 나타낸 데이터 파악
pop_Seoul['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [46]:
# pop_Seoul의 '구별'column이 null값인 데이터 출력
pop_Seoul[pop_Seoul['구별'].isnull()]

Empty DataFrame
Columns: [구별, 인구수, 한국인, 외국인, 고령자]
Index: []

In [49]:
# 외국인비율, 고령자비율 산정
pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  162913  152778  10135  26981  6.221112  16.561600
2   중구  135836  125942   9894  22421  7.283783  16.505934
3  용산구  245139  229168  15971  38049  6.515079  15.521398
4  성동구  314608  306404   8204  43076  2.607690  13.691960
5  광진구  370658  354873  15785  46288  4.258643  12.488062

In [52]:
# '인구수'를 기준으로 정렬
pop_Seoul.sort_values(by='인구수', ascending=False).head()
# 송파구, 강서구, 강남구, 노원구, 관악구 순으로 인구수가 가장 많다.

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  685361  678521   6840  83492  0.998014  12.182193
16  강서구  602886  596287   6599  80903  1.094568  13.419287
23  강남구  546875  541854   5021  68104  0.918126  12.453303
11  노원구  545486  541174   4312  78170  0.790488  14.330340
21  관악구  520645  502615  18030  73005  3.463012  14.022030

In [54]:
# '외국인'인구를 기준으로 정렬
pop_Seoul.sort_values(by='외국인', ascending=False).head()
# 영등포구, 구로구, 금천구, 관악구, 동대문구 순으로 외국인 인구수가 높다.

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404556  368824  35732  56463  8.832399  13.956782
17   구로구  438889  404726  34163  63017  7.783973  14.358300
18   금천구  254244  233981  20263  36301  7.969903  14.278016
21   관악구  520645  502615  18030  73005  3.463012  14.022030
6   동대문구  363262  346750  16512  57570  4.545480  15.848066

In [57]:
# '외국인비율'을 기준으로 정렬
pop_Seoul.sort_values(by='외국인비율', ascending=False).head()
# 영등포구, 금천구, 구로구, 중구, 용산구 순으로 외국인비율이 높다.

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404556  368824  35732  56463  8.832399  13.956782
18   금천구  254244  233981  20263  36301  7.969903  14.278016
17   구로구  438889  404726  34163  63017  7.783973  14.358300
2     중구  135836  125942   9894  22421  7.283783  16.505934
3    용산구  245139  229168  15971  38049  6.515079  15.521398

In [59]:
# '고령자'인구를 기준으로 정렬
pop_Seoul.sort_values(by='고령자', ascending=False).head()
# 송파구, 강서구, 은평구, 노원구, 관악구 순으로 고령자인구가 많다.

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  685361  678521   6840  83492  0.998014  12.182193
16  강서구  602886  596287   6599  80903  1.094568  13.419287
12  은평구  488713  484274   4439  78406  0.908304  16.043363
11  노원구  545486  541174   4312  78170  0.790488  14.330340
21  관악구  520645  502615  18030  73005  3.463012  14.022030

In [60]:
# '고령자비율'을 기준으로 정렬
pop_Seoul.sort_values(by='고령자비율', ascending=False).head()
# 강북구, 도봉구, 종로구, 중구, 은평구 순으로 고령자비율이 높다.

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
9   강북구  321151  317386   3765  58858  1.172346  18.327204
10  도봉구  340089  337820   2269  56742  0.667178  16.684456
1   종로구  162913  152778  10135  26981  6.221112  16.561600
2    중구  135836  125942   9894  22421  7.283783  16.505934
12  은평구  488713  484274   4439  78406  0.908304  16.043363