# 우리나라 인구 소멸 위기 지역 분석

In [23]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt

%matplotlib inline

path = "c:/Windows/Fonts/malgun.ttf"

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system, sorry!')
    
plt.rcParams['axes.unicode_minus'] = False

###### * 인구데이터 정리

In [24]:
population = pd.read_excel('data/05. population_raw_data.xlsx', header=1)
population.fillna(method='pad', inplace=True)
# fillna(method='pad') : null값을 앞에 있는 값으로 채움

population.rename(columns = {'행정구역(동읍면)별(1)':'광역시도',
                            '행정구역(동읍면)별(2)':'시도',
                            '계':'인구수'}, inplace=True)

# 소계 지우기
population = population[(population['시도'] != '소계')]

population

,광역시도,시도,항목,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
11,서울특별시,중구,여자인구수 (명),63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0
12,서울특별시,용산구,총인구수 (명),230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0
13,서울특별시,용산구,남자인구수 (명),111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0
14,서울특별시,용산구,여자인구수 (명),118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0
15,서울특별시,성동구,총인구수 (명),299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0
16,서울특별시,성동구,남자인구수 (명),148326.0,10609.0,11848.0,12692,13154.0,6090.0,4863.0,3480,1698.0,580.0,184.0,56,54.0
17,서울특별시,성동구,여자인구수 (명),150933.0,10204.0,11535.0,12815,12825.0,6848.0,5871.0,4509,2752.0,1364.0,494.0,153,144.0
18,서울특별시,광진구,총인구수 (명),357215.0,27368.0,32092.0,32302,29496.0,14402.0,11300.0,8121,4349.0,2029.0,689.0,228,174.0
19,서울특별시,광진구,남자인구수 (명),174797.0,13317.0,15555.0,16034,14875.0,6775.0,5376.0,3693,1609.0,631.0,170.0,54,37.0
20,서울특별시,광진구,여자인구수 (명),182418.0,14051.0,16537.0,16268,14621.0,7627.0,5924.0,4428,2740.0,1398.0,519.0,174,137.0
21,서울특별시,동대문구,총인구수 (명),355069.0,26261.0,27808.0,27277,28095.0,17506.0,14867.0,11008,5926.0,2577.0,887.0,288,242.0
22,서울특별시,동대문구,남자인구수 (명),177640.0,13162.0,14859.0,14140,14489.0,8237.0,6815.0,4950,2375.0,801.0,248.0,87,68.0
23,서울특별시,동대문구,여자인구수 (명),177429.0,13099.0,12949.0,13137,13606.0,9269.0,8052.0,6058,3551.0,1776.0,639.0,201,174.0
24,서울특별시,중랑구,총인구수 (명),411005.0,28727.0,29833.0,32277,32632.0,19957.0,15415.0,10783,5784.0,2596.0,896.0,257,154.0
25,서울특별시,중랑구,남자인구수 (명),204900.0,14676.0,14784.0,16607,17248.0,9448.0,7189.0,4879,2214.0,667.0,211.0,57,37.0
26,서울특별시,중랑구,여자인구수 (명),206105.0,14051.0,15049.0,15670,15384.0,10509.0,8226.0,5904,3570.0,1929.0,685.0,200,117.0
27,서울특별시,성북구,총인구수 (명),450355.0,32372.0,32003.0,32154,35029.0,20618.0,17629.0,13312,7284.0,3279.0,1099.0,352,305.0
28,서울특별시,성북구,남자인구수 (명),219951.0,15761.0,16229.0,16075,17424.0,9402.0,7979.0,5825,2856.0,978.0,287.0,87,78.0
29,서울특별시,성북구,여자인구수 (명),230404.0,16611.0,15774.0,16079,17605.0,11216.0,9650.0,7487,4428.0,2301.0,812.0,265,227.0
30,서울특별시,강북구,총인구수 (명),327195.0,22058.0,21374.0,22650,24750.0,18172.0,15323.0,11103,5654.0,2373.0,842.0,256,241.0
31,서울특별시,강북구,남자인구수 (명),160861.0,11206.0,10737.0,11838,12998.0,8084.0,6836.0,4961,2313.0,731.0,219.0,66,63.0
32,서울특별시,강북구,여자인구수 (명),166334.0,10852.0,10637.0,10812,11752.0,10088.0,8487.0,6142,3341.0,1642.0,623.0,190,178.0
33,서울특별시,도봉구,총인구수 (명),348220.0,24350.0,22867.0,23613,25303.0,16819.0,13559.0,10265,5829.0,2696.0,938.0,231,129.0
34,서울특별시,도봉구,남자인구수 (명),171238.0,12666.0,11645.0,12255,12757.0,8073.0,6328.0,4547,2172.0,865.0,240.0,68,25.0
35,서울특별시,도봉구,여자인구수 (명),176982.0,11684.0,11222.0,11358,12546.0,8746.0,7231.0,5718,3657.0,1831.0,698.0,163,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,경상남도,창녕군,총인구수 (명),63982.0,3279.0,2721.0,2863,3309.0,4498.0,3981.0,4202,2813.0,1261.0,321.0,54,19.0
814,경상남도,창녕군,남자인구수 (명),31735.0,1922.0,1591.0,1548,1820.0,2174.0,1639.0,1500,876.0,283.0,56.0,12,0.0
815,경상남도,창녕군,여자인구수 (명),32247.0,1357.0,1130.0,1315,1489.0,2324.0,2342.0,2702,1937.0,978.0,265.0,42,19.0
816,경상남도,고성군,총인구수 (명),54703.0,2672.0,1989.0,2582,3102.0,3828.0,3282.0,3268,2459.0,1179.0,363.0,66,17.0
817,경상남도,고성군,남자인구수 (명),27452.0,1538.0,1117.0,1442,1762.0,1880.0,1398.0,1222,804.0,282.0,63.0,13,3.0
818,경상남도,고성군,여자인구수 (명),27251.0,1134.0,872.0,1140,1340.0,1948.0,1884.0,2046,1655.0,897.0,300.0,53,14.0
819,경상남도,남해군,총인구수 (명),45129.0,2130.0,1454.0,1336,1727.0,3669.0,3356.0,3644,2816.0,1538.0,559.0,91,19.0
820,경상남도,남해군,남자인구수 (명),21566.0,1273.0,827.0,723,892.0,1753.0,1439.0,1358,874.0,361.0,88.0,12,0.0
821,경상남도,남해군,여자인구수 (명),23563.0,857.0,627.0,613,835.0,1916.0,1917.0,2286,1942.0,1177.0,471.0,79,19.0
822,경상남도,하동군,총인구수 (명),49622.0,2642.0,2006.0,1808,2118.0,3569.0,3239.0,3451,2464.0,1285.0,407.0,80,19.0
823,경상남도,하동군,남자인구수 (명),24463.0,1521.0,1152.0,975,1147.0,1698.0,1356.0,1266,765.0,337.0,81.0,18,2.0
824,경상남도,하동군,여자인구수 (명),25159.0,1121.0,854.0,833,971.0,1871.0,1883.0,2185,1699.0,948.0,326.0,62,17.0
825,경상남도,산청군,총인구수 (명),36098.0,1591.0,1249.0,1273,1448.0,2712.0,2652.0,2870,2059.0,953.0,314.0,63,15.0
826,경상남도,산청군,남자인구수 (명),17666.0,907.0,689.0,681,823.0,1370.0,1085.0,1031,642.0,249.0,69.0,10,2.0
827,경상남도,산청군,여자인구수 (명),18432.0,684.0,560.0,592,625.0,1342.0,1567.0,1839,1417.0,704.0,245.0,53,13.0
828,경상남도,함양군,총인구수 (명),40241.0,1943.0,1332.0,1453,1792.0,2869.0,2712.0,3124,2063.0,1050.0,360.0,64,32.0
829,경상남도,함양군,남자인구수 (명),19244.0,1077.0,717.0,765,939.0,1321.0,1041.0,1197,617.0,248.0,96.0,10,8.0
830,경상남도,함양군,여자인구수 (명),20997.0,866.0,615.0,688,853.0,1548.0,1671.0,1927,1446.0,802.0,264.0,54,24.0
831,경상남도,거창군,총인구수 (명),63308.0,3701.0,2478.0,2677,3277.0,3792.0,3493.0,3815,2682.0,1269.0,416.0,98,26.0
832,경상남도,거창군,남자인구수 (명),30746.0,2108.0,1399.0,1379,1638.0,1731.0,1394.0,1448,865.0,358.0,91.0,22,7.0
833,경상남도,거창군,여자인구수 (명),32562.0,1593.0,1079.0,1298,1639.0,2061.0,2099.0,2367,1817.0,911.0,325.0,76,19.0
834,경상남도,합천군,총인구수 (명),48026.0,2057.0,1540.0,1638,1943.0,3891.0,3717.0,4349,3142.0,1346.0,409.0,90,28.0
835,경상남도,합천군,남자인구수 (명),22825.0,1179.0,878.0,881,1060.0,1812.0,1484.0,1526,938.0,356.0,80.0,14,2.0
836,경상남도,합천군,여자인구수 (명),25201.0,878.0,662.0,757,883.0,2079.0,2233.0,2823,2204.0,990.0,329.0,76,26.0
840,제주특별자치도,제주시,총인구수 (명),470665.0,32638.0,25363.0,29771,36412.0,17739.0,14659.0,12119,8386.0,3976.0,1613.0,513,154.0
841,제주특별자치도,제주시,남자인구수 (명),235977.0,17377.0,13118.0,15084,18350.0,8474.0,6782.0,4941,2737.0,854.0,226.0,53,17.0
842,제주특별자치도,제주시,여자인구수 (명),234688.0,15261.0,12245.0,14687,18062.0,9265.0,7877.0,7178,5649.0,3122.0,1387.0,460,137.0
843,제주특별자치도,서귀포시,총인구수 (명),170932.0,10505.0,8067.0,9120,11606.0,8686.0,7460.0,6456,4521.0,1855.0,733.0,242,77.0
844,제주특별자치도,서귀포시,남자인구수 (명),86568.0,5600.0,4247.0,4693,6082.0,4237.0,3441.0,2611,1494.0,370.0,103.0,29,9.0
845,제주특별자치도,서귀포시,여자인구수 (명),84364.0,4905.0,3820.0,4427,5524.0,4449.0,4019.0,3845,3027.0,1485.0,630.0,213,68.0

In [25]:
population.is_copy = False

population.rename(columns = {'항목':'구분'}, inplace=True)

population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

population.head()

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0

### * 인구 소멸 위기 지역 계산하고 데이터 정리

In [26]:
population['20-39세'] = population['20 - 24세'] + population['25 - 29세'] + \
                        population['30 - 34세'] + population['35 - 39세']

population['65세이상'] = population['65 - 69세'] + population['70 - 74세'] + \
                        population['75 - 79세'] + population['80 - 84세'] + \
                        population['85 - 89세'] + population['90 - 94세'] + \
                        population['95 - 99세'] + population['100+']

population.head()

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20-39세,65세이상
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0,44333.0,24950.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0,22222.0,10895.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0,22111.0,14055.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0,38184.0,20388.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0,19347.0,8852.0

In [27]:
pop = pd.pivot_table(population,
                    index = ['광역시도', '시도'],
                    columns = ['구분'],
                    values = ['인구수', '20-39세', '65세이상'])
# index : index색인으로 사용될 컬럼(행 통합)
# columns : column 색인으로 사용될 컬럼(열 통합)
# values : value에 채우고자 하는 컬럼(내용)

pop

             20-39세                        65세이상                          인구수  \
구분               남자        여자        합계       남자       여자        합계        남자
광역시도 시도
강원도  강릉시    26286.0   23098.0   49384.0  15767.0  21912.0   37679.0  106231.0
     고성군     4494.0    2529.0    7023.0   2900.0   4251.0    7151.0   15899.0
     동해시    11511.0    9753.0   21264.0   6392.0   8732.0   15124.0   47166.0
     삼척시     8708.0    7115.0   15823.0   5892.0   8718.0   14610.0   35253.0
     속초시     9956.0    8752.0   18708.0   5139.0   7613.0   12752.0   40288.0
     양구군     4368.0    2481.0    6849.0   1650.0   2458.0    4108.0   12918.0
     양양군     2916.0    2171.0    5087.0   2988.0   3993.0    6981.0   13838.0
     영월군     4025.0    3134.0    7159.0   4215.0   5700.0    9915.0   20652.0
     원주시    45755.0   43164.0   88919.0  17384.0  24862.0   42246.0  167854.0
     인제군     5512.0    3449.0    8961.0   2413.0   3189.0    5602.0   17677.0
     정선군     4138.0    3297.0    7435.0   3831.0   5177.0    9008.0   19975.0
     철원군     7918.0    4714.0   12632.0   3804.0   5308.0    9112.0   25429.0
     춘천시    37173.0   35422.0   72595.0  17259.0  24440.0   41699.0  138251.0
     태백시     5333.0    4643.0    9976.0   3978.0   5288.0    9266.0   23899.0
     평창군     4377.0    3585.0    7962.0   4223.0   5614.0    9837.0   22126.0
     홍천군     7900.0    6258.0   14158.0   6450.0   8483.0   14933.0   35738.0
     화천군     5397.0    2643.0    8040.0   1991.0   2815.0    4806.0   14554.0
     횡성군     4512.0    3789.0    8301.0   4941.0   6382.0   11323.0   23398.0
경기도  가평군     7024.0    5771.0   12795.0   5960.0   7609.0   13569.0   31981.0
     고양시   143723.0  145020.0  288743.0  46866.0  67226.0  114092.0  510923.0
     과천시     8582.0    8315.0   16897.0   3117.0   4618.0    7735.0   31013.0
     광명시    49509.0   47807.0   97316.0  15468.0  21081.0   36549.0  168241.0
     광주시    49690.0   45073.0   94763.0  16061.0  19142.0   35203.0  168345.0
     구리시    27732.0   26941.0   54673.0   8903.0  11720.0   20623.0   96397.0
     군포시    43183.0   41049.0   84232.0  12126.0  16404.0   28530.0  141647.0
     권선구    60291.0   56279.0  116570.0  13234.0  17690.0   30924.0  180766.0
     기흥구    56866.0   58658.0  115524.0  18831.0  24001.0   42832.0  206316.0
     김포시    49921.0   49660.0   99581.0  17847.0  22658.0   40505.0  182597.0
     남양주시   87416.0   86835.0  174251.0  33150.0  42836.0   75986.0  330749.0
     단원구    49620.0   43619.0   93239.0  10430.0  14100.0   24530.0  161915.0
...             ...       ...       ...      ...      ...       ...       ...
충청남도 금산군     5448.0    4454.0    9902.0   6012.0   8594.0   14606.0   27558.0
     논산시    14111.0   11900.0   26011.0  11593.0  16464.0   28057.0   61724.0
     당진시    24970.0   19356.0   44326.0  11765.0  15680.0   27445.0   87388.0
     동남구    38023.0   35222.0   73245.0  12858.0  17329.0   30187.0  131135.0
     보령시    12314.0    9590.0   21904.0   9579.0  13389.0   22968.0   52521.0
     부여군     6822.0    5348.0   12170.0   8575.0  12197.0   20772.0   34837.0
     서북구    63523.0   57966.0  121489.0  11150.0  15664.0   26814.0  182987.0
     서산시    23700.0   19196.0   42896.0  11840.0  16190.0   28030.0   87770.0
     서천군     5219.0    4142.0    9361.0   7221.0  10363.0   17584.0   27539.0
     아산시    47643.0   42296.0   89939.0  14581.0  20486.0   35067.0  155692.0
     예산군     8450.0    6665.0   15115.0   9230.0  12776.0   22006.0   40827.0
     천안시   101546.0   93188.0  194734.0  24008.0  32993.0   57001.0  314122.0
     청양군     3207.0    2410.0    5617.0   4300.0   6029.0   10329.0   16389.0
     태안군     6956.0    5271.0   12227.0   7241.0   9627.0   16868.0   32260.0
     홍성군    11691.0   10428.0   22119.0   8889.0  12426.0   21315.0   49769.0
충청북도 괴산군     3606.0    2726.0    6332.0   4890.0   6702.0   11592.0   19773.0
     단양군     2907.0    2289.0    5196.0   3278.0   4619.0    7897.0   15362.0
     보은군     3097.0    2498.0    5595.0   4165.0   6022.0   10187.0   17093.0
     상당구    23359.0   21071.0   44430.0   9727.0  13849.0   23576.0   86804.0
     서원구    31810.0   29168.0   60978.0   9950.0  14237.0   24187.0  107866.0
     영동군     5369.0    4217.0    9586.0   5564.0   8186.0   13750.0   25248.0
     옥천군     5373.0    4445.0    9818.0   5533.0   7722.0   13255.0   26251.0
     음성군    12684.0   10179.0   22863.0   7301.0   9605.0   16906.0   51372.0
     제천시    16563.0   14279.0   30842.0  10227.0  13904.0   24131.0   68444.0
     증평군     5531.0    4554.0   10085.0   2206.0   3117.0    5323.0   19110.0
     진천군     9391.0    7622.0   17013.0   4731.0   6575.0   11306.0   36387.0
     청원구    32216.0   27805.0   60021.0   8417.0  11914.0   20331.0   97006.0
     청주시   128318.0  115719.0  244037.0  37882.0  53671.0   91553.0  419323.0
     충주시    26600.0   22757.0   49357.0  14407.0  20383.0   34790.0  104877.0
     흥덕구    40933.0   37675.0   78608.0   9788.0  13671.0   23459.0  127647.0


구분               여자         합계
광역시도 시도
강원도  강릉시   107615.0   213846.0
     고성군    14215.0    30114.0
     동해시    46131.0    93297.0
     삼척시    34346.0    69599.0
     속초시    41505.0    81793.0
     양구군    11092.0    24010.0
     양양군    13380.0    27218.0
     영월군    19421.0    40073.0
     원주시   170125.0   337979.0
     인제군    15043.0    32720.0
     정선군    18743.0    38718.0
     철원군    22584.0    48013.0
     춘천시   142456.0   280707.0
     태백시    23171.0    47070.0
     평창군    21192.0    43318.0
     홍천군    34338.0    70076.0
     화천군    11710.0    26264.0
     횡성군    22593.0    45991.0
경기도  가평군    30467.0    62448.0
     고양시   528761.0  1039684.0
     과천시    32765.0    63778.0
     광명시   171243.0   339484.0
     광주시   159378.0   327723.0
     구리시    97366.0   193763.0
     군포시   143243.0   284890.0
     권선구   177627.0   358393.0
     기흥구   210847.0   417163.0
     김포시   180846.0   363443.0
     남양주시  331405.0   662154.0
     단원구   152087.0   314002.0
...             ...        ...
충청남도 금산군    27054.0    54612.0
     논산시    61489.0   123213.0
     당진시    79242.0   166630.0
     동남구   127784.0   258919.0
     보령시    51352.0   103873.0
     부여군    35350.0    70187.0
     서북구   176049.0   359036.0
     서산시    83018.0   170788.0
     서천군    28473.0    56012.0
     아산시   147237.0   302929.0
     예산군    40512.0    81339.0
     천안시   303833.0   617955.0
     청양군    16364.0    32753.0
     태안군    31640.0    63900.0
     홍성군    50202.0    99971.0
충청북도 괴산군    19200.0    38973.0
     단양군    15141.0    30503.0
     보은군    17128.0    34221.0
     상당구    86897.0   173701.0
     서원구   109254.0   217120.0
     영동군    25304.0    50552.0
     옥천군    26016.0    52267.0
     음성군    46415.0    97787.0
     제천시    68073.0   136517.0
     증평군    18198.0    37308.0
     진천군    33563.0    69950.0
     청원구    93807.0   190813.0
     청주시   415874.0   835197.0
     충주시   103473.0   208350.0
     흥덕구   125916.0   253563.0

[264 rows x 9 columns]

###### * 소멸비율 계산 -> 임신가능 여성인구 / (노인 인구 / 2)

In [28]:
pop['소멸비율'] = pop['20-39세','여자'] / (pop['65세이상','합계'] / 2)
pop.head()

           20-39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041
     고성군   14215.0   30114.0  0.707314
     동해시   46131.0   93297.0  1.289738
     삼척시   34346.0   69599.0  0.973990
     속초시   41505.0   81793.0  1.372647

###### * 소멸위기지역 : 소멸비율이 1 미만인 지역

In [29]:
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
pop.head()

           20-39세                      65세이상                         인구수  \
구분             남자       여자       합계       남자       여자       합계        남자
광역시도 시도
강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
     고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
     동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
     삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
     속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                                  소멸비율 소멸위기지역
구분              여자        합계
광역시도 시도
강원도  강릉시  107615.0  213846.0  1.226041  False
     고성군   14215.0   30114.0  0.707314   True
     동해시   46131.0   93297.0  1.289738  False
     삼척시   34346.0   69599.0  0.973990   True
     속초시   41505.0   81793.0  1.372647  False

In [30]:
pop[pop['소멸위기지역']==True].index.get_level_values(1)

Index(['고성군', '삼척시', '양양군', '영월군', '정선군', '평창군', '홍천군', '횡성군', '가평군', '양평군',
       '연천군', '거창군', '고성군', '남해군', '밀양시', '산청군', '의령군', '창녕군', '하동군', '함안군',
       '함양군', '합천군', '고령군', '군위군', '문경시', '봉화군', '상주시', '성주군', '영덕군', '영양군',
       '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '동구', '영도구',
       '강화군', '옹진군', '강진군', '고흥군', '곡성군', '구례군', '담양군', '보성군', '신안군', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군', '김제시',
       '남원시', '무주군', '부안군', '순창군', '임실군', '장수군', '정읍시', '진안군', '공주시', '금산군',
       '논산시', '보령시', '부여군', '서천군', '예산군', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '영동군', '옥천군'],
      dtype='object', name='시도')

In [31]:
pop.reset_index(inplace=True) # 피벗되었던 index를 원래대로
pop.head()

   광역시도   시도   20-39세                      65세이상                         인구수  \
구분                 남자       여자       합계       남자       여자       합계        남자
0   강원도  강릉시  26286.0  23098.0  49384.0  15767.0  21912.0  37679.0  106231.0
1   강원도  고성군   4494.0   2529.0   7023.0   2900.0   4251.0   7151.0   15899.0
2   강원도  동해시  11511.0   9753.0  21264.0   6392.0   8732.0  15124.0   47166.0
3   강원도  삼척시   8708.0   7115.0  15823.0   5892.0   8718.0  14610.0   35253.0
4   강원도  속초시   9956.0   8752.0  18708.0   5139.0   7613.0  12752.0   40288.0

                            소멸비율 소멸위기지역
구분        여자        합계
0   107615.0  213846.0  1.226041  False
1    14215.0   30114.0  0.707314   True
2    46131.0   93297.0  1.289738  False
3    34346.0   69599.0  0.973990   True
4    41505.0   81793.0  1.372647  False

In [38]:
pop.columns.get_level_values(0)

Index(['광역시도', '시도', '20-39세남자', '20-39세여자', '20-39세합계', '65세이상남자', '65세이상여자',
       '65세이상합계', '인구수남자', '인구수여자', '인구수합계', '소멸비율', '소멸위기지역'],
      dtype='object')

###### * 컬럼을 합친다.

In [32]:
tmp_coloumns = [pop.columns.get_level_values(0)[n] + \
                pop.columns.get_level_values(1)[n]
                for n in range(0,len(pop.columns.get_level_values(0)))]

pop.columns = tmp_coloumns

pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912.0,37679.0,106231.0,107615.0,213846.0,1.226041,False
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251.0,7151.0,15899.0,14215.0,30114.0,0.707314,True
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732.0,15124.0,47166.0,46131.0,93297.0,1.289738,False
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718.0,14610.0,35253.0,34346.0,69599.0,0.973990,True
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613.0,12752.0,40288.0,41505.0,81793.0,1.372647,False

In [40]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 13 columns):
광역시도        264 non-null object
시도          264 non-null object
20-39세남자    264 non-null float64
20-39세여자    264 non-null float64
20-39세합계    264 non-null float64
65세이상남자     264 non-null float64
65세이상여자     264 non-null float64
65세이상합계     264 non-null float64
인구수남자       264 non-null float64
인구수여자       264 non-null float64
인구수합계       264 non-null float64
소멸비율        264 non-null float64
소멸위기지역      264 non-null bool
dtypes: bool(1), float64(10), object(2)
memory usage: 25.1+ KB

### * 대한민국 지도 그리는 방법

In [41]:
pop['시도'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '권선구', '기흥구',
       '김포시', '남양주시', '단원구', '덕양구', '동두천시', '동안구', '만안구', '부천시', '분당구',
       '상록구', '성남시', '소사구', '수원시', '수정구', '수지구', '시흥시', '안산시', '안성시',
       '안양시', '양주시', '양평군', '여주시', '연천군', '영통구', '오산시', '오정구', '용인시',
       '원미구', '의왕시', '의정부시', '이천시', '일산동구', '일산서구', '장안구', '중원구', '처인구',
       '파주시', '팔달구', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시',
       '남해군', '마산합포구', '마산회원구', '밀양시', '사천시', '산청군', '성산구', '양산시', '의령군',
       '의창구', '진주시', '진해구', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군',
       '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '남구', '문경시',
       '봉화군', '북구', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '동구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구', '금정구',
       '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구',
       '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군', '계양구',
       '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시', '구례군',
       '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '덕진구', '무주군', '부안군', '순창군', '완산구', '완주군',
       '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시',
       '공주시', '금산군', '논산시', '당진시', '동남구', '보령시', '부여군', '서북구', '서산시',
       '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '상당구', '서원구', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군',
       '청원구', '청주시', '충주시', '흥덕구'], dtype=object)

###### * 광역시가 아니면서 구를 가지고 있는 시와 그 행정구를 dict형으로 선언

In [43]:
si_name = [None] * len(pop)

tmp_gu_dict = {'수원':['장안구', '권선구', '팔달구', '영통구'],
              '성남':['수정구', '중원구', '분당구'],
              '안양':['만안구', '동안구'],
              '안산':['상록구', '단원구'],
              '고양':['덕양구', '일산동구', '일산서구'],
              '용인':['처인구', '기흥구', '수지구'],
              '청주':['상당구', '서원구', '흥덕구', '청원구'],
              '천안':['동남구', '서북구'],
              '전주':['완산구', '덕진구'],
              '포항':['남구', '북구'],
              '창원':['의창구', '성산구', '진해구', '마산합포구', '마산회원구'],
              '부천':['오정구', '원미구', '소사구']}

###### * 광역시도에 있는 이름의 끝 세 글자가 '광역시', '특별시', '자치시'로 끝나지 않으면 일반 시 혹은 군으로 본다. 그 속에서 강원도와 경상남도에는 동일한 이름을 가진 '고성군'이 있어서 따로 처리한다. 그리고, 세종특별자치시를 그냥 '세종'으로 처리하고, 나머지는 앞 두 글자만 선택해서 고유 ID를 만든다.

In [44]:
for n in pop.index:
    if pop['광역시도'][n][-3:] not in ['광역시', '특별시', '자치시']:
        if pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='강원도':
            si_name[n] = '고성(강원)'
        elif pop['시도'][n][:-1]=='고성' and pop['광역시도'][n]=='경상남도':
            si_name[n] = '고성(경남)'
        else:
            si_name[n] = pop['시도'][n][:-1]
            
        for keys, values in tmp_gu_dict.items():
            if pop['시도'][n] in values:
                if len(pop['시도'][n])==2:
                    si_name[n] = keys + ' ' + pop['시도'][n]
                elif pop['시도'][n] in ['마산합포구','마산회원구']:
                    si_name[n] = keys + ' ' + pop['시도'][n][2:-1]
                else:
                    si_name[n] = keys + ' ' + pop['시도'][n][:-1]
                    
    elif pop['광역시도'][n] == '세종특별자치시':
        si_name[n] = '세종'
        
    else:
        if len(pop['시도'][n])==2:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]
        else:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n][:-1]

In [45]:
si_name

['강릉',
 '고성(강원)',
 '동해',
 '삼척',
 '속초',
 '양구',
 '양양',
 '영월',
 '원주',
 '인제',
 '정선',
 '철원',
 '춘천',
 '태백',
 '평창',
 '홍천',
 '화천',
 '횡성',
 '가평',
 '고양',
 '과천',
 '광명',
 '광주',
 '구리',
 '군포',
 '수원 권선',
 '용인 기흥',
 '김포',
 '남양주',
 '안산 단원',
 '고양 덕양',
 '동두천',
 '안양 동안',
 '안양 만안',
 '부천',
 '성남 분당',
 '안산 상록',
 '성남',
 '부천 소사',
 '수원',
 '성남 수정',
 '용인 수지',
 '시흥',
 '안산',
 '안성',
 '안양',
 '양주',
 '양평',
 '여주',
 '연천',
 '수원 영통',
 '오산',
 '부천 오정',
 '용인',
 '부천 원미',
 '의왕',
 '의정부',
 '이천',
 '고양 일산동',
 '고양 일산서',
 '수원 장안',
 '성남 중원',
 '용인 처인',
 '파주',
 '수원 팔달',
 '평택',
 '포천',
 '하남',
 '화성',
 '거제',
 '거창',
 '고성(경남)',
 '김해',
 '남해',
 '창원 합포',
 '창원 회원',
 '밀양',
 '사천',
 '산청',
 '창원 성산',
 '양산',
 '의령',
 '창원 의창',
 '진주',
 '창원 진해',
 '창녕',
 '창원',
 '통영',
 '하동',
 '함안',
 '함양',
 '합천',
 '경산',
 '경주',
 '고령',
 '구미',
 '군위',
 '김천',
 '포항 남구',
 '문경',
 '봉화',
 '포항 북구',
 '상주',
 '성주',
 '안동',
 '영덕',
 '영양',
 '영주',
 '영천',
 '예천',
 '울릉',
 '울진',
 '의성',
 '청도',
 '청송',
 '칠곡',
 '포항',
 '광주 광산',
 '광주 남구',
 '광주 동구',
 '광주 북구',
 '광주 서구',
 '대구 남구',
 '대구 달서',
 '대구 달성',
 '대구 동구',
 '대구 북구',
 '대구 서구',
 '대구 수성',
 '대구 중구',
 '대전 대덕',
 '대전 동구',
 '대전 서구',
 '대전 유성',
 '대전 중구',
 '부산 강서',
 '부산 금정',
 '부산 기장',
 '부산 남구',
 '부산 동구',
 '부산 동래',
 '부산 부산진',
 '부산 북구',
 '부산 사상',
 '부산 사하',
 '부산 서구',
 '부산 수영',
 '부산 연제',
 '부산 영도',
 '부산 중구',
 '부산 해운대',
 '서울 강남',
 '서울 강동',
 '서울 강북',
 '서울 강서',
 '서울 관악',
 '서울 광진',
 '서울 구로',
 '서울 금천',
 '서울 노원',
 '서울 도봉',
 '서울 동대문',
 '서울 동작',
 '서울 마포',
 '서울 서대문',
 '서울 서초',
 '서울 성동',
 '서울 성북',
 '서울 송파',
 '서울 양천',
 '서울 영등포',
 '서울 용산',
 '서울 은평',
 '서울 종로',
 '서울 중구',
 '서울 중랑',
 '세종',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주',
 '울산 중구',
 '인천 강화',
 '인천 계양',
 '인천 남구',
 '인천 남동',
 '인천 동구',
 '인천 부평',
 '인천 서구',
 '인천 연수',
 '인천 옹진',
 '인천 중구',
 '강진',
 '고흥',
 '곡성',
 '광양',
 '구례',
 '나주',
 '담양',
 '목포',
 '무안',
 '보성',
 '순천',
 '신안',
 '여수',
 '영광',
 '영암',
 '완도',
 '장성',
 '장흥',
 '진도',
 '함평',
 '해남',
 '화순',
 '고창',
 '군산',
 '김제',
 '남원',
 '전주 덕진',
 '무주',
 '부안',
 '순창',
 '전주 완산',
 '완주',
 '익산',
 '임실',
 '장수',
 '전주',
 '정읍',
 '진안',
 '서귀포',
 '제주',
 '계룡',
 '공주',
 '금산',
 '논산',
 '당진',
 '천안 동남',
 '보령',
 '부여',
 '천안 서북',
 '서산',
 '서천',
 '아산',
 '예산',
 '천안',
 '청양',
 '태안',
 '홍성',
 '괴산',
 '단양',
 '보은',
 '청주 상당',
 '청주 서원',
 '영동',
 '옥천',
 '음성',
 '제천',
 '증평',
 '진천',
 '청주 청원',
 '청주',
 '충주',
 '청주 흥덕']

In [56]:
pop['ID'] = si_name

In [59]:
pop.head()

,광역시도,시도,20-39세남자,20-39세여자,20-39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역,ID
0,강원도,강릉시,26286.0,23098.0,49384.0,15767.0,21912.0,37679.0,106231.0,107615.0,213846.0,1.226041,False,강릉
1,강원도,고성군,4494.0,2529.0,7023.0,2900.0,4251.0,7151.0,15899.0,14215.0,30114.0,0.707314,True,고성(강원)
2,강원도,동해시,11511.0,9753.0,21264.0,6392.0,8732.0,15124.0,47166.0,46131.0,93297.0,1.289738,False,동해
3,강원도,삼척시,8708.0,7115.0,15823.0,5892.0,8718.0,14610.0,35253.0,34346.0,69599.0,0.973990,True,삼척
4,강원도,속초시,9956.0,8752.0,18708.0,5139.0,7613.0,12752.0,40288.0,41505.0,81793.0,1.372647,False,속초

###### * 필요없는 컬럼 제거

In [60]:
del pop['20-39세남자']
del pop['65세이상남자']
del pop['65세이상여자']

pop.head()

,광역시도,시도,20-39세여자,20-39세합계,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역,ID
0,강원도,강릉시,23098.0,49384.0,37679.0,106231.0,107615.0,213846.0,1.226041,False,강릉
1,강원도,고성군,2529.0,7023.0,7151.0,15899.0,14215.0,30114.0,0.707314,True,고성(강원)
2,강원도,동해시,9753.0,21264.0,15124.0,47166.0,46131.0,93297.0,1.289738,False,동해
3,강원도,삼척시,7115.0,15823.0,14610.0,35253.0,34346.0,69599.0,0.973990,True,삼척
4,강원도,속초시,8752.0,18708.0,12752.0,40288.0,41505.0,81793.0,1.372647,False,속초